[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
matplotlib = "*"
openpyxl = "*"
lxml = "*"
html5lib = "*"
beautifulsoup4 = "*"
seaborn = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.11"
